# --- Общие файлы и папки ---
HELP.md
.gradle
**/build/
**/bin/
**/out/
logs/
**/logs/
*.log

# --- Удаление Gradle Wrapper (тот самый "шлак") ---
# Эти правила удалят gradlew и папку gradle во всех подмодулях и в корне
gradlew
**/gradlew
gradlew.bat
**/gradlew.bat
gradle/
**/gradle/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
**/out/

# --- VS Code ---
.vscode/

# --- Eclipse / STS ---
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Системный мусор ---
.DS_Store
Thumbs.db

python_gateway/venv/
python_gateway/__pycache__/
python_gateway/*.session