<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Исправил: заменил устаревший converterClass на class -->
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter" />

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5p) %clr([%X{traceId:-no-id}]){yellow} %clr([%X{context:-SYSTEM}]){magenta} %clr(%-40.40logger{39}){cyan} : %m%n"/>

    <!-- 1. Консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/gift-metadata.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/gift-metadata.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:50000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"gift-metadata"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGSTASH" />
    </root>

    <logger name="com.ceawse.giftmetadata" level="DEBUG" />
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="WARN" />
</configuration>